# Install MySQLdb
`pip install mysqlclient`

In [2]:
import MySQLdb

# Open database connection
db = MySQLdb.connect("localhost","root","123456","mysql_vic" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# Drop database if it already exist using execute() method.
cursor.execute("DROP DATABASE IF EXISTS mysql_vic")

# execute SQL query using execute() method.
cursor.execute("CREATE DATABASE mysql_vic")

# disconnect from server
db.close()

In [2]:
#!/usr/bin/python

import MySQLdb

# Open database connection
db = MySQLdb.connect("localhost","root","123456","mysql_vic" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# execute SQL query using execute() method.
cursor.execute("SELECT VERSION()")

# Fetch a single row using fetchone() method.
data = cursor.fetchone()
print("Database version : {}".format(data))

# disconnect from server
db.close()

Database version : ('8.0.22',)

# Create Table

In [3]:
import MySQLdb

# Open database connection
db = MySQLdb.connect("localhost","root","123456","mysql_vic" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# Drop table if it already exist using execute() method.
cursor.execute("DROP TABLE IF EXISTS EMPLOYEE")

# Create table as per requirement
sql = """CREATE TABLE EMPLOYEE (
         ID INT(11) NOT NULL AUTO_INCREMENT,
         FIRST_NAME  CHAR(20) NOT NULL,
         LAST_NAME  CHAR(20),
         AGE INT,  
         SEX CHAR(1),
         INCOME FLOAT,
         PRIMARY KEY  (ID)
         )DEFAULT CHARSET=utf8"""

cursor.execute(sql)

# disconnect from server
db.close()

# Insert

In [4]:
import MySQLdb

# Open database connection
db = MySQLdb.connect("localhost","root","123456","mysql_vic" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# Prepare SQL query to INSERT a record into the database.
sql = """INSERT INTO EMPLOYEE(FIRST_NAME,
         LAST_NAME, AGE, SEX, INCOME)
         VALUES ('Mac', 'Mohan', 20, 'M', 2000)"""
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

# disconnect from server
db.close()

In [5]:
import MySQLdb

# Open database connection
db = MySQLdb.connect("localhost","root","123456","mysql_vic" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# Prepare SQL query to INSERT a record into the database.

x = ('yu', 'lee', '18', 'M', '3000')

sql = """INSERT INTO EMPLOYEE(FIRST_NAME,
         LAST_NAME, AGE, SEX, INCOME)
         VALUES ( %s, %s, %s, %s, %s)"""

try:
   # Execute the SQL command
   cursor.execute(sql, x)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

# disconnect from server
db.close()

# Read

In [6]:
import MySQLdb

# Open database connection
db = MySQLdb.connect("localhost","root","123456","mysql_vic" )

# prepare a cursor object using cursor() method
cursor = db.cursor()
x = {'INCOME':2500}
sql = """SELECT * FROM EMPLOYEE WHERE INCOME > %(INCOME)s """


try:
    # Execute the SQL command
    cursor.execute(sql, x)
    # Fetch all the rows in a list of lists.
    results = cursor.fetchall()
    for row in results:
        fname = row[0]
        lname = row[1]
        age = row[2]
        sex = row[3]
        income = row[4]
      # Now print fetched result
        print("fname={},lname={},age={},sex={},income={}".format(fname, lname, age, sex, income ))
except:
    print("Error: unable to fecth data")

# disconnect from server
db.close()

fname=2,lname=yu,age=lee,sex=18,income=M

# Update

In [7]:
import MySQLdb

# Open database connection
db = MySQLdb.connect("localhost","root","123456","mysql_vic" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# Prepare SQL query to UPDATE required records
sql = "UPDATE EMPLOYEE SET AGE = AGE + 1 WHERE SEX = '%c'" % ('M')

try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

# disconnect from server
db.close()

# Delete

In [8]:
import MySQLdb

# Open database connection
db = MySQLdb.connect("localhost","root","123456","mysql_vic" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# Prepare SQL query to DELETE required records
sql = "DELETE FROM EMPLOYEE WHERE AGE > '%d'" % (20)
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

# disconnect from server
db.close()