In [ ]:
!pip install mysqlclient

# 創建資料表

In [1]:
import MySQLdb

db = MySQLdb.connect("localhost","root","isaac","mydatabase")

cursor = db.cursor()

## 1.將如果STUDENTS資料表存在，將STUDENTS資料表丟棄



## 2.創建STUDENTS資料表，資料表欄位如下
'''
| ID INT(11) | NAME CHAR(20) | GENDER CHAR(20) | CHINESE CHAR(20) | ENGLISH CHAR(20) | MATH CHAR(20) | SOCIAL_SCIENCE CHAR(20) | SCIENCE  CHAR(20) |

PRIMARY KEY = ID
CHARSET = utf8

'''



db.close()

# 手key學生成績到資料庫內  
請手動輸入以下兩位學生成績  
name: isaac, gender: m, chinese: 60, english: 72, math: 32, social_science: 52, science: 86  
name: amy, gender: f, chinese: 50, english: 22, math: 80, social_science: 15, science: 93

In [2]:
import MySQLdb

db = MySQLdb.connect("localhost","root","isaac","mydatabase" )

cursor = db.cursor()

print("enter students score")
while True:

    student_name = input("enter name: ")
    student_gender = input("enter gender: ")
    student_chinese = input("enter chinese score: ")
    student_english = input("enter english score: ")
    student_math = input("enter math score: ")
    student_social_science = input("enter social science score: ")
    student_science = input("enter science score: ")
    
    ## 3.將student_name, student_gender, student_chinese, ......插入到資料庫
    
    again = input("continue(y/n)? ")
    if again[0].lower() == "n":
        break

db.close()

enter students score
enter name: isaac
enter gender: m
enter chinese score: 60
enter english score: 72
enter math score: 32
enter social science score: 52
enter science score: 86
continue(y/n)? y
enter name: amy
enter gender: f
enter chinese score: 50
enter english score: 22
enter math score: 80
enter social science score: 15
enter science score: 93
continue(y/n)? n

# 查詢目前資料庫所有內容

In [3]:
import MySQLdb

db = MySQLdb.connect("localhost","root","isaac","mydatabase" )


cursor = db.cursor()

sql = "SELECT * FROM STUDENTS"

## 4.查詢目前資料庫所有內容


    
db.close()

name: isaac, gender: m, chinese: 60, english: 72, math: 32, social_science: 52, science: 86
name: amy, gender: f, chinese: 50, english: 22, math: 80, social_science: 15, science: 93

# 使用csv檔案，大量匯入全班成績

In [4]:
import MySQLdb

db = MySQLdb.connect("localhost","root","isaac","mydatabase" )


cursor = db.cursor()

## 5.將exam_score.csv所有學生成績插入資料庫


db.close()

insert loe data......
insert judy data......
insert lily data......
insert evan data......
insert joyce data......
insert yoshi data......
insert amber data......
insert alex data......
insert sophia data......

# 將sophia英文成績改成99

In [5]:
import MySQLdb

db = MySQLdb.connect("localhost","root","isaac","mydatabase" )

cursor = db.cursor()

## 6.將sophia英文成績改成99

db.close()

# 計算各科平均

In [2]:
import MySQLdb

db = MySQLdb.connect("db4free.net","isaac60103","isaac60103test","isaac60103", port = 3306 )

cursor = db.cursor()


sql = "SELECT * FROM STUDENTS"
chinese_avg = 0
english_avg = 0
math_avg = 0
social_science_avg = 0
science_avg = 0

try:
    
    cursor.execute(sql)

    results = cursor.fetchall()
    num_students = len(results)
    ## 7.計算各個科目平均成績

except:
    print("Error: unable to fecth data")

print('chinese_avg: {}'.format(chinese_avg/num_students))
print('english_avg: {}'.format(english_avg/num_students))
print('math_avg: {}'.format(math_avg/num_students))
print('social_science_avg: {}'.format(social_science_avg/num_students))
print('science_avg: {}'.format(science_avg/num_students))

db.close()

name: isaac, gender: m, chinese: 60, english: 72, math: 32, social_science: 52, science: 86
name: amy, gender: f, chinese: 50, english: 22, math: 80, social_science: 15, science: 93
name: loe, gender: m, chinese: 70, english: 48, math: 69, social_science: 50, science: 66
name: judy, gender: f, chinese: 89, english: 90, math: 59, social_science: 28, science: 39
name: lily, gender: f, chinese: 37, english: 43, math: 67, social_science: 34, science: 43
name: evan, gender: m, chinese: 12, english: 57, math: 97, social_science: 100, science: 100
name: joyce, gender: f, chinese: 58, english: 48, math: 47, social_science: 98, science: 37
name: yoshi, gender: m, chinese: 58, english: 49, math: 79, social_science: 38, science: 20
name: amber, gender: f, chinese: 57, english: 23, math: 6, social_science: 28, science: 69
name: alex, gender: m, chinese: 59, english: 69, math: 20, social_science: 60, science: 79
name: sophia, gender: f, chinese: 79, english: 99, math: 70, social_science: 49, science: 70
chinese_avg: 57.18181818181818
english_avg: 56.36363636363637
math_avg: 56.90909090909091
social_science_avg: 50.18181818181818
science_avg: 63.81818181818182